.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: center;

  color: #cfcfcf;
  background-color: #2a2a2a;
}

.main {
  flex: 1 0 auto;

  color: #2a2a2a;
  background-color: #cfcfcf;
}

.footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;

  color: #cfcfcf;
  background-color: #2a2a2a;
}
