.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__row {
  display: flex;
}

.form__column {}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__buttons {
  display: flex;
  align-self: center;
  gap: 20px;
}


.form__input {
  /* padding: 0; */

  color: var(--light-text-color);
  background-color: var(--light-bg-color3);

  border: none;
  outline: 1px solid var(--light-bg-color3);



  -moz-appearance: textfield;
}

.form__input:focus {
  outline-color: var(--contrast);
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
